<!DOCTYPE html>
<html lang="{{ site.lang | default: " zh-CN" }}">

<head>
  <meta charset="UTF-8">
  <title>biliciyunの小窝</title>
  <link rel="icon" type="iamge/webp" sizes="48x48" href="/icon-48.webp">
  <link rel="icon" type="iamge/webp" sizes="32x32" href="/icon-32.webp">
  <link rel="shortcut icon" type="image/x-icon" href="/icon.ico">
  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Google+Sans:400,700%7CNoto+Sans+SC:400,700%7C&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FB7299">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <style>
    body, header::before {
      background: url(https://s1.ax1x.com/2023/04/08/ppHpFZ6.png) no-repeat center / cover fixed;
    }
    header {  
      position: relative;
    }
    header::before {
      content: '';
      position: absolute;
      top:0; right:0; bottom:0; left:0;
      filter: blur(8px);
      z-index: -1;
    }
  </style>
  {% include head-custom.html %}
</head>

<body>

  <header class="page-header" role="banner">
    <h1 class="project-name">biliciyunの小窝</h1>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
      <h1>友情链接</h1>
      <p><a href="https://www.fuibafuyu.cn" target="_blank" rel="noopener noreferrer" title="うち、フユや">冬優ちゃんの小窝</a></p>
      <p><a href="https://www.cqzhx.top/" target="_blank" rel="noopener noreferrer" title="小破站">qzh小破站</a></p>
      -      <div align="center">
        <img src="https://api.puresys.net/?line1=欢迎访问本站！&line2=biliciyun.cf">
      </div>
      <script src="https://cdn.bootcss.com/sweetalert/2.1.0/sweetalert.min.js"></script>
 
<script>
 
swal('本站状态:持续运行','\n\n感谢您来到本站，祝你今天快乐！','success'); function AddFavorite(title, url) {
 
  try {
 
      window.external.addFavorite(url, title);
 
  }
 
catch (e) {
 
     try {
 
       window.sidebar.addPanel(title, url,);
 
    }
 
     catch (e) {
 
         alert("ERROR-抱歉，您当前使用的浏览器无法完成此操作QAQ");
 
     }
 
  }
 
}
 
</script>
      <div align="center">
        <span id="span"></span>
<script type="text/javascript">
    function runtime(){
        // 初始时间，日/月/年 时:分:秒
        X = new Date("04/23/2022 17:30:00");
        Y = new Date();
        T = (Y.getTime()-X.getTime());
        M = 24*60*60*1000;
        a = T/M;
        A = Math.floor(a);
        b = (a-A)*24;
        B = Math.floor(b);
        c = (b-B)*60;
        C = Math.floor((b-B)*60);
        D = Math.floor((c-C)*60);
        //信息写入到DIV中
        span.innerHTML = "本站已特别艰难地运行了: "+A+"天"+B+"小时"+C+"分"+D+"秒"
    }
    setInterval(runtime, 1000);
</script>
      <div align="center">
        <span>Copyright © Ciyun Network Studio. All Rights Reserved. 2023 版权所有</span>
        <div align="center">
           <a href="mailto:bilibiliciyun@foxmail.com">Ciyun网络邮箱反馈</a>
           <a href="https://jbts.mct.gov.cn/" target="_blank">全国文化网上举报系统</a>
           <a href="https://www.12321.cn/" target="_blank">12321网络不良与垃圾信息举报受理中心</a>
           <a href="https://www.12377.cn/" target="_blank">有害信息举报：<img src="//static.hdslb.com/images/12377.png" width="16" height="16" style="vertical-align: sub;"> 中国互联网违法和不良信息举报中心</a>
      <div align="center">
        <span><a style="color: #1c71e2; text-decoration: none; font-weight: normal" href="https://icp.gov.moe/?keyword=20222249" target="_blank"><img style="width:32px;height:32px;margin-bottom:-8px" src="https://icp.gov.moe/images/ico64.png">萌ICP备20222249号</a></span>
      </div>
      <div id="cc-myssl-id">
   <a href="https://myssl.com/biliciyun.cf?from=mysslid"><img src="https://static.myssl.com/res/images/myssl-id1.png" alt="" style="max-height:50px;display:block;margin:0 auto"></a>
</div>
        </fo
        </footer>
    </main>
</body>

</html>
  
