<!DOCTYPE html>
<html lang="{{ site.lang | default: " zh-CN" }}">

<head>
  <meta charset="UTF-8">
  <title>biliciyunの小窝</title>
  <link rel="icon" type="iamge/webp" sizes="48x48" href="/icon-48.webp">
  <link rel="icon" type="iamge/webp" sizes="32x32" href="/icon-32.webp">
  <link rel="shortcut icon" type="image/x-icon" href="/icon.ico">
  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Google+Sans:400,700%7CNoto+Sans+SC:400,700%7C&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FB7299">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <style>
    body, header::before {
      background: url(https://s1.ax1x.com/2023/07/13/pChBwan.png) no-repeat center / cover fixed;
    }
    header {  
      position: relative;
    }
    header::before {
      content: '';
      position: absolute;
      top:0; right:0; bottom:0; left:0;
      filter: blur(8px);
      z-index: -1;
    }
  </style>
  {% include head-custom.html %}
</head>
  
    <script>
        // 检测IE浏览器
        var isIE = /MSIE|Trident/.test(window.navigator.userAgent);

        // 如果是IE浏览器，重定向到其他页面
        if (isIE) {
            window.location.href = "https://ciyun666.github.io/ie_not_supported";
        }
    </script>
  
<body>

  <header class="page-header" role="banner">
    <h1 class="project-name">biliciyunの小窝</h1>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    <footer class="site-footer">
      <h1>友情链接</h1>
      <p><a href="https://www.fuibafuyu.net" target="_blank" rel="noopener noreferrer" title="うち、フユや">冬優ちゃんの小窝</a></p>
      <p><a href="https://www.cqzhx.top/" target="_blank" rel="noopener noreferrer" title="小破站">qzh小破站</a></p>
      <p><a href="https://www.itsk.com/" target="_blank" rel="noopener noreferrer" title="稳定的驱动、PE">iT天空</a></p>
      <p><a href="https://www.bakaxl.com/" target="_blank" rel="noopener noreferrer" title="mc第三方启动器">BakaXL启动器</a></p>
      <p><a href="https://space.bilibili.com/6823116#/album/" target="_blank" rel="noopener noreferrer" title="壁纸站~">壁纸站</a></p>
      <div align="center">
        <img src="https://api.puresys.net/?line1=欢迎访问本站！">
      </div>
      <script src="https://cdn.bootcss.com/sweetalert/2.1.0/sweetalert.min.js"></script>
  
<div id="cc-myssl-id">
<a href="https://myssl.com/biliciyun.github.io?from=mysslid"><img src="https://static.myssl.com/res/images/myssl-id1.png" alt="" style="max-height:50px;display:block;margin:0 auto"></a>
</div>
    </footer>
        </footer>
    </main>
</body>
<div align="center">
    <p>Copyright © Ciyun Network Studio. ALL RIGHTS RESERVED. 2022-2023 版权所有</p>
    <span><a style="color: #ffffff; text-decoration: none; font-weight: normal" href="https://icp.gov.moe/?keyword=20222249" target="_blank"><img style="width:32px;height:32px;margin-bottom:-8px" src="https://icp.gov.moe/images/ico64.png">萌ICP备20222249号</a></span>
    　|
    <span id="span"></span>
    <script type="text/javascript">
        function runtime(){
            // 初始时间，日/月/年 时:分:秒
            X = new Date("04/23/2022 17:30:00");
            Y = new Date();
            T = (Y.getTime()-X.getTime());
            M = 24*60*60*1000;
            a = T/M;
            A = Math.floor(a);
            b = (a-A)*24;
            B = Math.floor(b);
            c = (b-B)*60;
            C = Math.floor((b-B)*60);
            D = Math.floor((c-C)*60);
            //信息写入到DIV中
            span.innerHTML = " 本站已运行: "+A+"天"+B+"小时"+C+"分"+D+"秒"
        }
        setInterval(runtime, 1000);
    </script>
    　|
    网站最后编辑时间： 2024.03.23 11：00

</div> 
<div id="goTopBtn"><span class="glyphicon glyphicon-chevron-up">&Delta;</span></div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
/*返回顶部*/
$(window).scroll(function(){
   var sc=$(window).scrollTop();
   var rwidth=$(window).width()
   if(sc>0){
    $("#goTopBtn").css("display","block");
    $("#goTopBtn").css("left",(rwidth-36)+"px")
   }else{
   $("#goTopBtn").css("display","none");
   }
 })
 $("#goTopBtn").click(function(){
   var sc=$(window).scrollTop();
   $('body,html').animate({scrollTop:0},500);
 })
   </script>

</html>
  
